@model TravelBookingProject.ViewModel.TravelViewModel
@{
    ViewBag.Title = "DisplayCountry";
}

<h2>DisplayCountry</h2>

<table class="table table-striped">
    <tr>
        <th>Country Id</th>
        <th>Country Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model.countryList)
    {
        <tr>
            <td>@item.CountryId</td>
            <td>@item.CountryName</td>
           
            

        </tr>

    }
</table>